/*
Paraph API

Document API for developers. Upload PDF templates, fill them via API, and send for signing when you need to. Both workflows use the same endpoint.  ## Quick Start  Upload a PDF template, then create requests against it.  All requests require `Authorization: Bearer <your-api-key>`.  ### Fill a PDF  1. [Upload a template](#tag/templates/POST/templates) with a PDF that has named form fields. The response includes the template `id` and the detected fields. 2. [Create a request](#tag/requests/POST/requests) with the `template_id` and a `fields` map. Status is `success` immediately. 3. [Download the filled PDF](#tag/requests/GET/requests/{id}/download).  ---  ### Fill + send for signing  Same as above, but add signers. You'll need to set up signature placements on the template first (one-time).  1. [Upload a template](#tag/templates/POST/templates). 2. [Update the template](#tag/templates/PUT/templates/{id}) with `signature_placements` (page, coordinates, and which signer label goes where). 3. [Create a request](#tag/requests/POST/requests) with a `fields` map and a `signers` map keyed by label. Each signer gets an email with a signing link. Status is `pending` until everyone signs. 4. [Download the signed PDF](#tag/requests/GET/requests/{id}/download) once all signers have completed.  Use [webhooks](#tag/webhooks) to get notified instead of polling.  ---  ### Pre-signed documents  If you already have a signer's signature image (captured in your own app, for example), pass `override_signature_url` in the `SignerInput` when [creating a request](#tag/requests/POST/requests). That signer is marked as signed immediately and no email is sent. You can mix this with regular email-based signing on the same request.  ---  ### Webhooks  1. [Create a webhook](#tag/webhooks/POST/webhooks) with a URL and the events you care about. 2. Each delivery is a POST with `Content-Type: application/json`. See the `WebhookDelivery` schema for the payload format. 3. Verify deliveries using the `secret` returned at creation time. Each delivery includes an `X-Signature-256` header with an HMAC-SHA256 signature.  ---  ### Metadata  Pass a `metadata` object (up to 10 key-value pairs) when [creating a request](#tag/requests/POST/requests) to tag it with your own identifiers. Metadata is returned on all [request endpoints](#tag/requests) and in webhook deliveries.  ---  ### Sandbox mode  Sandbox requests **bypass plan quotas** and produce PDFs with a diagonal **SAMPLE** watermark. A request is sandbox when either:  - The API key used is a sandbox key (`api_key_sandbox: true` on   [account](#tag/account/GET/account)), OR - The team has sandbox mode enabled team-wide (`sandbox_mode: true`)  New accounts are created with a default sandbox API key so first requests don't count toward the plan. Create additional sandbox or production keys from the admin dashboard. A key's mode is set at creation and cannot be changed later — create a new key instead.  ---  ### Salesforce integration  Paraph offers a managed package on the Salesforce AppExchange. The SF package talks to this same API — no special endpoints, no separate auth.  **Setup (one-time per SF org):**  1. In Paraph: create an API key (Admin → API Keys). Name it something    like \"Salesforce production\". 2. In Salesforce: open the paraph managed package's setup wizard and    paste the API key. The package stores it in a Named Credential. 3. Done. Every Apex callout auto-injects `Authorization: Bearer <key>`    via the Named Credential's custom header.  **What Apex code looks like:**  ```apex HttpRequest req = new HttpRequest(); req.setEndpoint('callout:Paraph_Named_Credential/api/v1/requests'); req.setMethod('POST'); req.setHeader('Content-Type', 'application/json'); req.setBody(payload); HttpResponse res = new Http().send(req); ```  **Rotation:** create a second API key, paste the new one into SF, delete the old one from Paraph. Both are valid simultaneously so there is no downtime window.  **Revocation:** delete the key in Paraph. The next SF callout fails with `401`; the admin pastes a fresh key.  ---  ### Common headers  All API responses include: - `X-Request-Id` — unique identifier for the request, useful for debugging and support. - `X-RateLimit-Limit`, `X-RateLimit-Remaining`, `X-RateLimit-Reset` — rate limit status. 

API version: 1.0.0
Contact: support@paraph.dev
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package paraph

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


type SignersAPI interface {

	/*
	DownloadSignerSignature Download signer signature

	Returns the stored signature image (PNG) for a signer who has completed
signing, either via the signing page or a pre-provided override_signature_url.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Request ID
	@param sid Signer ID
	@return ApiDownloadSignerSignatureRequest
	*/
	DownloadSignerSignature(ctx context.Context, id string, sid string) ApiDownloadSignerSignatureRequest

	// DownloadSignerSignatureExecute executes the request
	//  @return *os.File
	DownloadSignerSignatureExecute(r ApiDownloadSignerSignatureRequest) (*os.File, *http.Response, error)

	/*
	ResendSigningLink Resend signing link

	Generates a new signing link and resends the signing email.
The previous link is invalidated. Only works for signers
with status `pending`.


	@param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
	@param id Request ID
	@param sid Signer ID
	@return ApiResendSigningLinkRequest
	*/
	ResendSigningLink(ctx context.Context, id string, sid string) ApiResendSigningLinkRequest

	// ResendSigningLinkExecute executes the request
	//  @return ResendSigningLink200Response
	ResendSigningLinkExecute(r ApiResendSigningLinkRequest) (*ResendSigningLink200Response, *http.Response, error)
}

// SignersAPIService SignersAPI service
type SignersAPIService service

type ApiDownloadSignerSignatureRequest struct {
	ctx context.Context
	ApiService SignersAPI
	id string
	sid string
}

func (r ApiDownloadSignerSignatureRequest) Execute() (*os.File, *http.Response, error) {
	return r.ApiService.DownloadSignerSignatureExecute(r)
}

/*
DownloadSignerSignature Download signer signature

Returns the stored signature image (PNG) for a signer who has completed
signing, either via the signing page or a pre-provided override_signature_url.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Request ID
 @param sid Signer ID
 @return ApiDownloadSignerSignatureRequest
*/
func (a *SignersAPIService) DownloadSignerSignature(ctx context.Context, id string, sid string) ApiDownloadSignerSignatureRequest {
	return ApiDownloadSignerSignatureRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		sid: sid,
	}
}

// Execute executes the request
//  @return *os.File
func (a *SignersAPIService) DownloadSignerSignatureExecute(r ApiDownloadSignerSignatureRequest) (*os.File, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *os.File
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignersAPIService.DownloadSignerSignature")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/requests/{id}/signers/{sid}/signature"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sid"+"}", url.PathEscape(parameterValueToString(r.sid, "sid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"image/png", "application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiResendSigningLinkRequest struct {
	ctx context.Context
	ApiService SignersAPI
	id string
	sid string
}

func (r ApiResendSigningLinkRequest) Execute() (*ResendSigningLink200Response, *http.Response, error) {
	return r.ApiService.ResendSigningLinkExecute(r)
}

/*
ResendSigningLink Resend signing link

Generates a new signing link and resends the signing email.
The previous link is invalidated. Only works for signers
with status `pending`.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Request ID
 @param sid Signer ID
 @return ApiResendSigningLinkRequest
*/
func (a *SignersAPIService) ResendSigningLink(ctx context.Context, id string, sid string) ApiResendSigningLinkRequest {
	return ApiResendSigningLinkRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		sid: sid,
	}
}

// Execute executes the request
//  @return ResendSigningLink200Response
func (a *SignersAPIService) ResendSigningLinkExecute(r ApiResendSigningLinkRequest) (*ResendSigningLink200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ResendSigningLink200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SignersAPIService.ResendSigningLink")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/requests/{id}/signers/{sid}/resend"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"sid"+"}", url.PathEscape(parameterValueToString(r.sid, "sid")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 409 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 401 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 429 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v Error
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
